.contenedor{
	background-color:white;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly
	
	/*justify-content: flex-start; */
	/*justify-content: flex-end; */
	
	/*justify-content: center;*/
	/* justify-content: space-between; */
	/* justify-content: space-around; */
	/* j; */
}

.item1{
	background-color: red;
	width: 200px;
	height: 200px;
	/*text-align: center;*/
	font-size: 30px;
	margin-left: 1000px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
   /* margin:10px; */

}

.item2{
	background-color: blue;
	width: 200px;
	height: 200px;
	/*text-align: center;*/
	font-size: 30px;
	margin-left: 1000px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
    /*margin:10px; */
}

.item3{
	background-color: green;
	width: 200px;
	height: 200px;
	/*text-align: center;*/
	font-size: 30px;
	margin-left: 1000px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
    /*margin:10px; */
}
h1
{
  margin-left: 1000px;
}